/*
:host {
    display: block;
    color: #333;
}
*/
.botones {
    background-color: blue;
    text-align:center;
    margin: 10px;
    width: 100%;
}

.table {
    width: 95%;
    background-color: rgb(31, 30, 30);
}

.table-item-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 35vh;
    max-width: 35vh;
    min-width: 35vh;
    background-color: rgb(27, 26, 29);
    color: rgb(255, 255, 255);
    margin: 5px;
    padding: 5px;

    border: 1px solid #ccc; /* Define el borde */
    border-radius: 10px;    /* Opcional: redondea las esquinas */
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.5); /* Sombra externa */
    padding: 20px;          /* Espaciado interno */
    background-color: #000000; /* Fondo blanco */
}
.table-item:hover {
    background-color: #161515;
    
}
.precio-label{
    color:chartreuse;
}


/*
.table IonLabel {
    font-family: Arial, sans-serif;
    color: #555;
    padding: 4px 0;
}


.table IonLabel:nth-of-type(1) {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
}


.table IonLabel:nth-of-type(4) {
    font-size: 18px;
    color: green;
}


.table IonLabel:nth-of-type(5) {
    color: red;
    font-weight: bold;
}
*/
.in-stock {
    color: green;
}

.out-of-stock {
    color: red;
    font-weight: bold;
}

.imagen {
    width: 100px;
    height: 100px;
}


.titulo {
    font-size: 20px;
    color:chartreuse;
}